<%= render 'shared/navbar', path: @path %>
<div class="main-container">
  <div class="row">
    <div class="col-12 col-sm-4 col-md-2">
      <div class="dashboard">
        <div class="user-info">
          <% if @user.photo.attached? %>
          <% @path = @user.photo.key %>
          <% else %>
          <% @path = 'profile_whubsg' %>
          <% end %>
          <div class="profile-pic">
            <%= cl_image_tag(@path, cloud_name:'dopoqpdhm', radius:"max", height:'90%', format:"png") %>
          </div>
            <div class="user-bio">
              <h3><%= @user.first_name %> <%= @user.second_name %></h3>
              <p id="city"><%= @user.city %></p>
            <!-- <div class="collapse" id="collapseBio" aria-expanded="false"> -->
              <div class="card">
                <p><%= @user.bio %></p>
              </div>
                <a role="button" class="collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                </a>
<!--             </div> -->
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-8 col-lg-5">
      <div class="dashboard">
        <h4 class="dash-header">My Bookings</h4>
        <p><strong>People have booked me for:</strong></p>
        <% @user.skills.each do |skill| %>
          <% skill.bookings.each do |booking| %>




            <div class="card">
              <p><%= booking.date %></p>
              <p><%= booking.user.first_name %> has booked me for: <%= booking.skill.name %></p>
              <p> Status: <%= booking.status %></p>
              <!--           <p><%= booking.start_time %><%= booking.end_time %></p> -->
            </div>





          <% end %>
        <% end %>
        <hr/>
        <p><strong>I have booked others for:</strong></p>
        <% @user.bookings.each do |booking| %>
          <div class="card">
            <p>I have booked <%= booking.skill.user.first_name %> for: <%= booking.skill.name %></p>
            <p> Status: <%= booking.status %></p>
            <p><%= booking.date %></p>
            <!--         <p><%= booking.start_time %><%= booking.end_time %></p> -->
          </div>
        <% end %>
      </div>
    </div>


    <div class="col-12 col-sm-12 col-lg-5">
      <div class="dashboard">
        <div class="add-skill">
          <h4>My top skills</h4>
          <%= link_to new_skill_path do %>
          <button class="btn btn-primary">Add a new skill</button>
          <% end %>
        </div>
        <div class="cards">
          <% @user.skills.each do |skill| %>
          <div class="card">
            <div class="card-space-between">
              <p><strong><%= skill.name %></strong></p>
              <div class="right-buttons">
                <%= link_to edit_skill_path(skill) do %>
                <button class="btn btn-primary">Edit</button>
                <% end %>
                <%= link_to skill_path(skill), method: :delete, data: { confirm: "Are you sure?"} do %>
                <button class="btn btn-primary">Delete</button>
                <% end %>
              </div>
            </div>
            <p><%= skill.description %></p>
          </div>
          <% end %>
        </div>
      </div>
      <div class="dashboard">
        <h4 class="dash-header">My Work History</h4>
        <% @user.work_histories.each do |history|  %>
        <%= render 'shared/history_card', history: history %>
            <!-- <div class="card-product">
              <div class="card-product-infos">
                <h2><%= history.company_name %></h2>
                <hr/>
                <p><strong><%= history.job_title %></strong></p>
                <p>From <%= history.start_date %>- <%= history.end_date %></p>
                <p><%= history.description %></p>
              </div>
            </div> -->
        <% end %>
      </div>
    </div>

</div>
</div>
