<%= render 'shared/navbar' %>


<div class="main-container">
  <div class ="row justify-content-center">
    <div class="col-xs-12, col-sm-10 col-lg-6">
      <div class="card">
        <h1>Request a Booking with <%= @user.first_name %></h1>

          <%= simple_form_for [@user, @booking] do |f| %>

            <%= f.input :skill_id, collection: @user.skills %>
            <%= f.input :date, as: :string, input_html: {type: :date} %>
            <%= f.input :start_time %>
            <%= f.input :end_time %>
            <%= f.input :user_comment, label: 'Add a note' %>

            <%= f.button :submit, 'Request a Booking', class: "btn-primary" %>

        <% end %>
      </div>
    </div>
  </div>
</div>
