<%= render 'shared/navbar' %>

<div class="container">
  <div class ="row justify-content-center">
    <div class="col-xs-12, col-sm-8">
      <h1>Reqest a Booking with <%= @user.first_name %></h1>

        <%= simple_form_for [@user, @booking] do |f| %>

          <%= f.input :skill_id, collection: @user.skills %>
          <%= f.input :date %>
          <%= f.input :start_time %>
          <%= f.input :end_time %>
          <%= f.input :user_comment, label: 'Add a note' %>

          <%= f.button :submit, 'Request a Booking', class: "btn-primary" %>

      <% end %>
    </div>
  </div>
</div>
