<%= render 'shared/navbar' %>
<div class="main-container">
  <div class="row">
    <div class="col-12 col-sm-4 col-md-2">
      <div class="dashboard">
        <div class="user-info">
          <% if @user.photo.attached? %>
          <% @path = @user.photo.key %>
          <% else %>
          <% @path = 'profile_whubsg' %>
          <% end %>
          <div class="profile-pic">
            <%= cl_image_tag(@path, radius:"max", height:'90%', format:"png") %>
          </div>
          <div class="user-bio">
            <h3><%= @user.first_name %> <%= @user.second_name %></h3>
            <p id="city"><%= @user.city %></p>
            <div class="card">
              <p><%= @user.bio %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-12 col-lg-5">
      <div class="dashboard">
        <div class="add-skill">
          <h4>My top skills</h4>
          <%= link_to new_user_booking_path(@user) do %>
            <button class="btn btn-primary">Book a meeting with <%= @user.first_name %></button>
          <% end %>
        </div>
        <div class="cards">
          <% @user.skills.each do |skill| %>
          <div class="card">
            <div class="card-space-between">
              <p><strong><%= skill.name %></strong></p>
            </div>
            <p><%= skill.description %></p>
          </div>
          <% end %>
        </div>
      </div>

    </div>

    <div class="col-12 col-sm-8 col-lg-5">
      <div class="dashboard">
        <div>
          <h4 class="dash-header">My Work History</h4>
        </div>
        <% @user.work_histories.each do |history|  %>
        <%= render 'shared/history_card', history: history %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
<!-- </div> -->
