<%= render 'shared/navbar' %>

<div class="main-container">
  <% if @skills.count == 1 %>
    <h4>Found <%= @skills.count %> result:</h4>
  <% else %>
    <h4>Found <%= @skills.count %> results:</h4>
  <% end %>

    <div class ="row">
        <% @skills.each do |skill| %>
          <div class="col-12 col-md-6 col-lg-3">

            <%= link_to user_path(skill.user) do %>
            <% if skill.user.photo.attached? %>
              <% @path = skill.user.photo.key %>
            <% else %>
              <% @path = 'profile_whubsg' %>
            <% end %>
              <div class="card-profile">
                <%= cl_image_tag(@path, crop:"fill", format:"png") %>
                  <div class="card-profile-infos">
                      <h2><%= skill.name %></h2>
                      <p><%= skill.user.full_name %></p>
                      <p><%= skill.user.city %></p>
                      <p><%= skill.description %></p>
                  </div>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>
</div>
