<div class="card">
  <div class="card-product-infos">
    <h5><%= history.company_name %></h5>
    <hr/>
    <p><strong><%= history.job_title %></strong></p>
    <p>From <%= history.start_date %>- <%= history.end_date %></p>
    <p><%= history.description %></p>
  </div>
</div>
