<div class="card-product">
  <div class="card-product-infos">
    <h2><%= history.company_name %></h2>
    <hr/>
    <p><strong><%= history.job_title %></strong></p>
    <p>From <%= history.start_date %>- <%= history.end_date %></p>
    <p><%= history.description %></p>
  </div>
</div>
