 <div class="home-banner">
  <div class="banner-brand">
    <div>
      <%= link_to root_path do %>
        <h4>MatchBox</h4>
      <% end %>
    </div>

    <% if user_signed_in? %>

      <% if current_user.photo.attached? %>
        <% @path = current_user.photo.key %>
      <% else %>
        <% @path = 'profile_whubsg' %>
      <% end %>

    <% else %>
      <% @path = 'profile_whubsg' %>
    <% end %>

    <div>
      <li class="nav-item dropdown" style="list-style-type: none;">
        <%= cl_image_tag @path, cloud_name:'dopoqpdhm', class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Dashboard", bookings_path, class: "dropdown-item" %>

          <% if user_signed_in? %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          <% else %>
            <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
          <% end %>

        </div>
      </li>
    </div>
  </div>
  <div class="banner-text">
    <h2>Find your perfect business match</h2>
    <div class="nav-banner">
      <%= form_tag skills_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Search"
        %>
        <%= submit_tag "Search", class: "fas fa-search" %>
      <% end %>
<!--       <input type="text" placeholder="Search">
        <%= link_to "#" do %>
            <i class="fas fa-search" style="color: white;"></i>
        <% end %> -->
    </div>
  </div>
</div>
<div class="home-container">
  <h4>Professionals in your city</h4>
  <!-- you may use for before iterating skills -->

<div class="container">
  <div class="row">

<!-- you may apply inside iteration for skills -->

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card-profile">
        <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1581552207/j51suxjyfz3zmkxa75hy.jpg" />
        <div class="card-profile-infos">
          <h2>Frances</h2>
          <p>ABC design firm(2016 - 2018)</p>
          <p>Ichigaya, Tokyo</p>
          <p>HTML/CSS/JS experiences of designing homepages of Uber and Airbnb</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card-profile">
        <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1581473191/yqgsv8lbex3uer3uq1bh.jpg" />
        <div class="card-profile-infos">
          <h2>Yuka</h2>
          <p>XYZ Airlines(2010 - current)</p>
          <p>Yokohama, Kanagawa</p>
          <p>Customer service based on long years of flight attendant experience on international flight.</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card-profile">
        <img src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1581471969/vjdib7xizgrxooj2vadp.jpg" />
        <div class="card-profile-infos">
          <h2>Jethro</h2>
          <p>ABC marketing firm(2018 - current)</p>
          <p>Ebisu, Tokyo</p>
          <p>EDM marketing/Interview based market research</p>
        </div>
      </div>
    </div>

  </div>
</div>

</div>
